<div class="error-content">
  <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! tenémos un error 404.</h3>

  <p>
    No hemos podido encontrar la página que buscas.
    Mientras tanto, deberias <a href="./">regresar al dashboard</a> o contacta con el administrador.
  </p>
 
  <h3>Este mensaje puede tener la(s) razón(es) siguiente(s):</h3>
  <ul>
  <li>Usted ha hecho uso de un enlace externo a una página que ya no está disponible.</li>
  <li>Ha seguido un enlace antiguo, ejemplo, a partir de un motor de búsqueda o un marcador.</li>
  <li>Ha intentado acceder a una página que requiere autenticación.</li>
  <li>Un enlace interno en nuestra página web principal del catálogo se ​​ha roto ó la página no existe.</li>
  </ul>
  <!--<h3>¿Qué sigue?</h3>
  <ul>
  
  <li>Puede utilizar el menú y enlaces en el tope de la página</li>
  <li>Puede buscar en el catálogo usando el formulario de búsqueda en la parte superior de esta página.</li>
  <li><a href="/cgi-bin/koha/opac-main.pl">Regresar a la página principal del catálogo.</a></li>
  </ul>
  <h3>Informar problemas y enlaces rotos</h3>
  <ul>
  <li>Para informar sobre este error, por favor, póngase en contacto con el Administrador de Koha. <a href="mailto:root%40localhost">Enviar correo electrónico</a>.</li>
  </ul>-->
 
</div>